{{ range $groupKey, $groupValue :=.Values.applications }}
{{ range $appKey, $appValue := $groupValue }}
{{ if $appValue.deploy }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ include "base.name" (dict "key" $appKey "value" $appValue) }}
  namespace: argocd
  labels:
    davydehaas.nl/group: {{ $groupKey }}
    davydehaas.nl/app: {{ $appKey }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  {{ if $appValue.autoSync }}
  project: always-sync
  {{ else }}
  project: no-sync
  {{ end }}
  source:
    repoURL: https://github.com/davydehaas98/homelab.git
    targetRevision: HEAD
    path: applications/{{ ( kebabcase $groupKey ) }}/{{ include "base.name" (dict "key" $appKey "value" $appValue) }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ default (include "base.name" (dict "key" $appKey "value" $appValue)) $appValue.namespace }}
  revisionHistoryLimit: 2
  {{- with $appValue.ignoreDifferences }}
  ignoreDifferences: {{ toYaml $appValue.ignoreDifferences | nindent 4 }}
  {{- end }}
  syncPolicy:
    syncOptions:
      - RespectIgnoreDifferences=true
      - FailOnSharedResource=true
    {{ if $appValue.serverSideApply }}
      - ServerSideApply=true
    {{ end }}
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 2
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 10m
{{ end -}}
{{ end -}}
{{ end -}}
