apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitops-apps
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io

spec:
  project: always-sync
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  source:
    repoURL: git@github.com:davydehaas98/gitops.git
    targetRevision: HEAD
    path: chart

  revisionHistoryLimit: 2

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 5
        maxDuration: 10m
