# .github/workflows/ansible-lint.yml
name: Ansible lint
on:
  push:
    branches:
      - main
jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.3.1
      - name: Setup Python
        uses: actions/setup-python@v5.6.0
        with:
          python-version-file: '.python-version'
          cache: pip
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          ansible-galaxy install -r requirements.yaml
      - name: Run ansible-playbook syntax-check
        run: cd ./ansible && ansible-playbook playbook.yaml --syntax-check
      - name: Run ansible-lint
        run: ansible-lint ./ansible/playbook.yaml --profile moderate
