name: Talos installer
run-name: Talos ${{ inputs.TALOS_VERSION }} installer
on:
  workflow_dispatch:
    inputs:
      TALOS_VERSION:
        description: 'Talos version (example: v1.8.4)'
        required: true
        default: 'v1.8.4'
        type: string
jobs:
  installer:
    name: Installer
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    steps:
      - name: Set up crane
        uses: imjasonh/setup-crane@v0.5
      - name: Login to registry
        uses: docker/login-action@v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build images
        run: |
          TALOS_VERSION=${{ inputs.TALOS_VERSION }}
          INSTALLER_IMAGE=ghcr.io/${{ github.repository }}/talos-installer:${TALOS_VERSION}

          ISCSI_IMAGE=$(crane export ghcr.io/siderolabs/extensions:${TALOS_VERSION} | tar x -O image-digests | grep iscsi-tools)
          UTIL_IMAGE=$(crane export ghcr.io/siderolabs/extensions:${TALOS_VERSION} | tar x -O image-digests | grep util-linux-tools)
          RK3588_IMAGE=$(crane export ghcr.io/nberlee/extensions:${TALOS_VERSION} | tar x -O image-digests | grep rk3588)

          mkdir _out

          docker run --rm -t -v ./_out:/out \
              ghcr.io/nberlee/imager:${TALOS_VERSION} iso \
              --arch arm64 \
              --base-installer-image ghcr.io/nberlee/installer:${TALOS_VERSION}-rk3588 \
              --system-extension-image ${ISCSI_IMAGE} \
              --system-extension-image ${UTIL_IMAGE} \
              --system-extension-image ${RK3588_IMAGE}

          docker run --rm -t -v ./_out:/out \
              ghcr.io/nberlee/imager:${TALOS_VERSION} installer \
              --arch arm64 \
              --base-installer-image ghcr.io/nberlee/installer:${TALOS_VERSION}-rk3588 \
              --system-extension-image ${ISCSI_IMAGE} \
              --system-extension-image ${UTIL_IMAGE} \
              --system-extension-image ${RK3588_IMAGE}

          crane push ./_out/installer-arm64.tar ${INSTALLER_IMAGE}
